apiVersion: v1
kind: Secret
metadata:
  name: beanmemo-secret
type: Opaque
stringData:
  dsn: "beanmemo:password@tcp(mysql:3306)/beanmemo?parseTime=true"
  oidc_issuer_url: "https://accounts.example.com"
  authz_claim_key: "email"
  authz_claim_value: "user@example.com"
